
body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/GYMPROJECT/img/gym4.jpg');
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: 1400px 920px;
    height: 180px;
    font-family: 'Baloo Bhai 2', cursive;
}
.left{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 34px;
    
}
.left img{
    width: 80px;
}
.middle{
    display: block;
    width: 41%;
    margin: 32px auto;
    
}
.right{
    display: inline-block;
    position: absolute;
    top: 46px;
    right: 34px;
    font-family: 'Baloo Bhai 2', cursive;
    
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 25px 35px;
}
.navbar li a:hover,.navbar li a.active{
    color: darkgray;
    
}
.btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    padding: 3px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(105, 102, 99);
}
.container-left{
    border: 2px solid white;
    margin: 30px 21px;
    padding: 53px 40px;
    width: 26%;
    border-radius: 8px;
    display: inline-block;
    position: absolute;
}
.container-mid{
    border: 2px solid white;
    padding: 53px 40px;
    width: 26%;
    border-radius: 8px;
    display: block;
    /* width: 41%; */
    margin: 62px auto;
}
.container-right{
    border: 2px solid white;
    margin: 108px -14px;
    padding: 53px 40px;
    width: 26%;
    border-radius: 8px;
    display: inline-block;
    position: absolute;
    top: 46px;
    right: 34px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 280px;
    padding: 1px;
    margin: 10px auto;
    border: 2px solid white;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Baloo Bhai 2', cursive;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 23%;
    margin: 24px auto;
}
